<section class="section">
  <div class="container">
    <p style="color: green"><%= notice %></p>

    <div class="title">
      <h1>Dogs</h1>
    </div>

    <div id="dogs">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @dogs.each do |dog| %>
            <%= render dog %>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @dogs %>

    <%= link_to "New dog", new_dog_path %>
  </div>
</section>
