<section class="section">
  <div class="container">
    <p style="color: green"><%= notice %></p>

    <div class="title">
      <h1>Owls</h1>
    </div>

    <div id="owls">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @owls.each do |owl| %>
            <%= render owl %>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @owls %>

    <%= link_to "New owl", new_owl_path %>
  </div>
</section>
