<section class="section">
  <div class="container">
    <p style="color: green"><%= notice %></p>

    <div class="title">
      <h1>Hedgehogs</h1>
    </div>

    <div id="hedgehogs">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @hedgehogs.each do |hedgehog| %>
            <%= render hedgehog %>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @hedgehogs %>

    <%= link_to "New hedgehog", new_hedgehog_path %>
  </div>
</section>
