<section class="section">
  <div class="container">
    <p style="color: green"><%= notice %></p>

    <%= render "form", cat: @cat %>

    <div>
      <%= link_to "Back to cats", cats_path %>
    </div>
  </div>
</section>
